.testimonial-slider {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4vw;
    width: 90%;
    margin: auto;
    background-color: var(--lightyellow);
  }
  
  .testimonial-content {
    flex: 1;
    text-align: center;
  }
  
  .slider-buttons button {
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
  }

  .testimonial-content h5{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 80px;
    color: var(--grey);
  }
  .testimonial-content h3{
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 40px;
  }
  .testimonial-content p{
    font-size: 18px;
    font-weight: 100;
    word-wrap: break-word;
    padding: 0 230px;
    letter-spacing: 2px;
    line-height: 60px;
  }
  .testimonial-content h2{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 80px;
  }
  .testimonial-content h4{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
  .testimonial-content h6{
    font-size: 30px;
    font-weight: 400;
    color: var(--primary);
    letter-spacing: 1.5px;
    line-height: 50px;
  }

.button{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid var(--grey);
    border-radius: 50%;
}

  .btnn{
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .testimonial-slider {
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 4vw;
      width: 100%;
      margin: auto;
      background-color: var(--lightyellow);
  }
    .testimonial-content h5 {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 40px;
      color: var(--grey);
  }
  .testimonial-content h3 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 40px;
}
  .testimonial-content p {
    font-size: 18px;
    font-weight: 100;
    word-wrap: break-word;
    padding: 4vw 2vw;
    letter-spacing: 2px;
    line-height: 30px;
}
.testimonial-content h2 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.5px;
  line-height: 50px;
}
.testimonial-content h4 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 30px;
}
  }